---
layout: layout.njk
---
<h1>Hello I'm Luigi</h1>
<h4>Software Developer, Computer Science @ TMU</h4>

<h2>/posts</h2>
{% for post in collections.posts | reverse %}
    <div class="post-card">
        {% if post.data.thumbnail %}
            <a href="{{ post.url }}" class="post-thumb-container" tabindex="-1" aria-label="Go to {{ post.data.title }}">
                <img src="{{ post.data.thumbnail }}" alt="thumbnail for {{ post.data.title }}" class="post-thumbnail">
            </a>
        {% endif %}
        <a href="{{ post.url }}" class="post-info" style="text-decoration: none; color: inherit;">
            <h3>{{ post.data.title }}</h3>
            <p class="post-date">{{ post.date.toISOString().slice(0, 10) }}</p>
            <p class="post-description">{{ post.data.description }}</p>

            {% if post.data.tags %}
                <div class="post-tags">
                    {% for tag in post.data.tags %}
                        {% if tag != "posts" %}
                            <span class="tag tag-{{ tag | slug }}">
                                {{ tag | tag_icon_html | safe }}
                                <span class="tag-label">{{ tag }}</span>
                            </span>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </a>
    </div>
{% endfor %}