:root {
  --col1: #ECDFCC;
  --col2: #697565;
  --col3: #3C3D37;
  --col4: #181C14;
}

* {
  color: var(--col1);
  font-family: "Geist Mono", monospace, Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0 0 0 0;
}

main {
  margin: 0 10% 0 10%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--col2);
}

a {
  color: var(--col1);
  text-decoration: none;
  }
  a:hover {
    background-color: var(--col3);
    text-decoration: underline;
}

fieldset {
  min-width: 200px;
}

h3 {
  font-weight: bold;
}

.bg-col {
  background-color: var(--col4);
}

.link-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-content {
  margin-left: 10%;
}

.project-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #fff;
  }
  @media (max-width: 600px) {
    .project-card {
      flex-direction: column;
    }
}

.project-img {
  max-width: 30%;
  height: auto;
  flex: 2;
  }
  @media (max-width: 600px) {
    .project-img {
      max-width: 100%;
    }
} 

.project-text {
  flex: 8;
  padding: 0 40px;
}